@charset "utf-8";
/* CSS Document */
body {
	background:url(../pic/water.png) repeat 0 0 ;
}
.outer ul {
		margin-top:-20px;		
		list-style-type:none; 
		background:transparent; 
		height:23px;
		padding:0  0 0 3px;
}
.outer ul li{
	font-size:16px;
}
.outer li {
	display:block; 
	float:left;
}
.outer {
	display:block;
	position:relative;
	padding:0; 	
}
.xsnazzy {
	background:transparent;
}
.xsnazzy span {
	text-align:center; 
	color:#fff;
	margin:0; 
	font-weight:normal; 
	padding-bottom:0.5em;
}
.xtop {
	display:block; 
	background:transparent; 
	font-size:1px;
}
.xb1, .xb2, .xb3, .xb4 {
	display:block; 
	overflow: hidden;
}
.xb1, .xb2, .xb3 {
	height:1px;
}
.xb2, .xb3, .xb4 {
	background:#97BA3F; 
	border-left:1px solid #fff; 
	border-right:1px solid #fff;
}
.xb1 {
	margin:0 5px; 
	background:#fff;
}
.xb2 {
	margin:0 3px; 
	border-width:0 2px;
}
.xb3 {
	margin:0 2px;
}
.xb4 {
	height:2px; 
	margin:0 1px;
}
.xboxmrc {
	display:block; 
	background:#97BA3F; 
	border:0 solid #fff; 
	border-width:0 1px 1px 1px;
}

a.xmenu2, a.xmenu2:visited {	
	display:block; 
	text-decoration:none;
	width:7em; 
	font-size:0.9em;
}
a.xmenu2:hover {
	background:transparent; 
	cursor:pointer;
}
a.xmenu2:hover span {color:#000;}
a.xmenu2:hover .xboxmrc {
	background:#eee;
	border-color:#888; 
	border-bottom:1px solid #eee;
}
a.xmenu2:hover .xb1 {background:#888;}
a.xmenu2:hover .xb2, a.xmenu2:hover .xb3, a.xmenu2:hover .xb4 {
	background:#fff; 
	border-color:#888;
}
.xboxmrcd {
	display:block; 
	background:#cc6; 
	border:0 solid #fff; 
	border-width:1px 1px 0 1px;
	padding-top:5px;
}
a.xmenu2:hover .xboxmrcd {
	background:#eee;
	border-color:#888; 
	border-top:1px solid #eee;
}
.outer ul span{
	display:inline-block;
	height:23px;
	line-height:23px;
	width:98px;
}

#footer_1{
	border-top:2px solid silver;
	border-left:1px solid silver;
	border-bottom:2px solid silver;
	border-right:1px solid silver;
	width:958px;
	margin:0 auto; 
	background-color:#2385AA;
	margin-bottom:20px;
	color:white;
	font-size:12px;
}